# C++目录
ipch/
Release/
Debug/
h5_log/

# pycharm 配置文件
.idea/

# CSV 本地下载的文件
csv/
*.csv

# 配置文件
*.ini

*.opensdf
*.sdf
*.suo
*.exp
*.pdb
*.cd

# Python编译文件
*.pyc
# Distribution / packaging
.Python
env/
build/
dayk/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
pool/

# lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
config.ini
*.ini

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# 账号配置文件
account.ini

# API锟斤拷.con锟侥硷拷
*.con

# visual studio

*.tlog
*.log

# 不想同步的
*.dump
*.vssettings
*.klg
*.lkc
*.npy

# tf的模型数据
*.meta
*.index
*.data-00000-of-00001

